/*=========== global style =========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.container-fluid{
    padding: 0 8%;
}
/* =========== global style ========= */

/* =========== topbar style ========= */
.topbar{
    height: 7vh;
    margin: 0;
    padding: 1px 8%;
    background-color: #e02453;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* responsive */
@media (max-width: 767px) {
    .topbar{
        display: none !important;
    }
}
/* =========== topbar style ========= */

/* =========== navbar style ========= */
.navbar{
    margin: 0;
    padding: 0 8%;
    color: #000;
    z-index: 1;
    background-color: #ffffffb3;
}
.fa-magnifying-glass{
    background-color: #e02453;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.nav-link:hover{
    color: #e02453 !important;
}
.active{
    color: #e02453 !important;
}
.btn:hover{
    background-color: #e02453 !important;
}
/* responsive */
@media (max-width: 767px) {
    .navbar form{
        display: none !important;
    }
    .navbar-nav{
        align-items: center !important;
    }
}
/* =========== navbar style ========= */

/* ========== banner style ========= */
.banner{
    position: absolute;
    top: 7vh;
    height: 100vh;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* ========== banner style ========= */